<section class="form-section">
    <div class="text">
        <h3>Fique por dentro de tendências</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt ut numquam repellat, debitis voluptatibus corrupti doloribus, cupiditate voluptas nulla aliquid, dolorum neque quam recusandae. Quo ex quibusdam laboriosam nemo earum.</p>
    </div>

    <form>
        <label for="name">Name</label>
        <input id="name"/>
        <label for="email">Email</label>
        <input id="email"/>
        <btn-primary btn-text="se inscreva" variant="secondary"></btn-primary>
    </form>
</section>